body {
    background-color: #FFFFFF;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    border: 7px solid #000000;
    font-family: Arial;
    margin: 25px 200px 25px 250px;
    padding: 25px 50px 25px 50px;

}

 header {
  text-align: center;
}


div {
  text-align: center;


}
